<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <!-- 登录页面不过滤 静态资源,不用权限 -->
    <!--<http pattern="/login.jsp" security="none"/>-->
    <!--<http pattern="/index.jsp" security="none"/>-->

    <!-- SecurityConfig 等同于以下配置 begin -->
    <http auto-config="true">
        <!-- 配置权限拦截，访问所有url，都需要用户登录，且拥有ROLE_USER权限 -->
        <intercept-url pattern="/admin**" access="ROLE_USER"/>
        <!--<intercept-url pattern="/dba**" access="ROLE_ADMIN,ROLE_DBA" />-->
        <form-login
                login-page="/login"
                default-target-url="/welcome"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"/>
        <logout logout-success-url="/login?logout"/>
        <csrf/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <!-- 配置默认用户，用户名：admin 密码：123456 拥有权限：ROLE_USER -->
            <user-service>
                <user name="admin" password="123456" authorities="ROLE_USER"/>
                <!--<user name="user" password="123456" authorities="ROLE_USER"/>-->
                <!--<user name="dba" password="123456" authorities="ROLE_DBA" />-->
            </user-service>
        </authentication-provider>
    </authentication-manager>
    <!-- end -->

    <!--  对密码进行MD5编码-->
    <!--<b:bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/>-->
</b:beans>